.topImg {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.myImg {
    width: 128px;
    height: 128px;
    border-radius: 10px;
    border: solid 5px rgba(205, 205, 255, 0.75);
    margin: 15px 25px;
}

.titleText {
    color: #FF999999;
    font-family: "Poppins", Consolas, sans-serif;
    font-size: 2.5rem;
    align-self: center;
    margin-left: 15px;
}

.contact-info {
    font-family: "Ubuntu", Consolas, serif;
    margin: 15px 0 15px 5vw;
    color: #FFFFFFFF;
}

.contacts {
    margin: 2.5vh 0 3vh 10vw;
    font-family: "Ubuntu", "Poppins", Consolas, serif;
    font-size: 0.75rem;
    color: #FFFFFF5F;
}

.info {
    text-decoration: underline;
    text-decoration-color: #FFFFFF5F;
    color: #FFFF;
}

.feedbackForm {
    width: 384px;
    margin: 10vh 0 5vh 10%;
}

.feedbackForm table tr td {
    width: 100%;
    font-family: "Ubuntu", Consolas, "Cookie";
    color: #F8F8F8FF;
}

#emailId {
    background: #F8F8F80F;
    color: #F8F8F8FF;
    border: 0;
    height: 36px;
    font-size: 1.2rem;
    border-radius: 6px;
    padding-left: 6px;
    margin-left: 2vh;
    font-family: "Lato", Consolas, sans-serif;
}

#emailId::placeholder {
    font-size: 1.2rem;
    font-family: "Lato", Consolas, sans-serif;
    color: #F8F6F58F;
}

textarea {
    background: #F8F8F80F;
    margin-top: 5vh;
    border: 0;
    border-radius: 5px;
    padding: 6px;
    font-size: 1.2rem;
    margin-left: 2vh;
    font-family: "Lato", Consolas, sans-serif;
    color: #F8F8F8FF;
}
textarea::placeholder {
    color: #F8F6F58F;
}

.submitBtnDiv {
    text-align: center;
}
.submitBtn {
    width: 192px;
    height: 48px;
    border: 2px solid #CC8899;
    border-radius: 12px;
    margin-top: 15px;
    word-spacing: 0;
    font-family: "Lato", "Roboto", Consolas, "Cookie", "Poppins";
    font-size: 1.2rem;
    background: #F8F8F8A4;
    color: #272822;
}
.submitBtn:hover {
    background: #F8F8F8FF;
    color: black;
}
