.slit {
    margin: 50px 10vw 0 10vw;
    background-color: rgba(251, 251, 251, 0.60);
    padding: 3vw;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
}

.slit h1 {
    color: rgb(20, 52, 164);
}
.slit h3 {
    color: rgb(0, 0, 0);
}

.slit img {
    width: 12rem;
    height: 6rem;
    margin: auto 24px auto 5px;
    border-radius: 25px;
}

@media (max-width: 500px) {
    .slit img {
        width: 100px;
        height: 100px;
    }
}
