.container {
    display: flex;
    width: 80vw;
    height: 60vh;
    background: linear-gradient(90deg, #c33764, #1d2671);
    margin: 40px auto 10px auto;
    border-radius: 50px 0;
    border-bottom-right-radius: 160px;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 20vw;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50px 0 25px 0;
    align-items: center;
    overflow: hidden;
}

.tabBtn {
    display: block;
    width: 100%;
    height: 6vh;
    font-weight: 800;
    font-family: 'Consolas', "Poppins", serif;
    word-break: keep-all;
    color: #F8F8F6;
    font-size: 1rem;
    background: transparent;
    margin: 13px 0;
    border-width: 0;
}

.active {
    font-size: 1.2rem;
    color: #25e63e;
}

.content {
    width: 60vw;
    height: 60vh;
    background: transparent;
}

#containerOfElements {
    width: 88%;
    height: 53vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh auto 2vh auto;
    border-radius: calc(2vw + 2vh);
    border-bottom-right-radius: calc(2vw + 2vh + 6rem);
    padding: 2vh 0 2vh 2vw;
    list-style: none;
    overflow-y: scroll;
}

#containerOfElements::-webkit-scrollbar {
    width: 1vw;
    transition: 0.5s;
}

#containerOfElements::-webkit-scrollbar-thumb:hover #containerOfElements::-webkit-scrollbar {
    width: 2vw;
}

#containerOfElements::-webkit-scrollbar-track {
    background: #272822;
    border-radius: 25px;
    margin: 2rem 24px 6.2rem 24px;
}

#containerOfElements::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

#containerOfElements::-webkit-scrollbar-thumb:hover {
    background: black;
}


.element {
    display: block;
    padding: 25px;
    list-style: none;
    color: rgba(255, 254, 253, 0.8);
    font-size: 1.5rem;
    border: solid 2px;
    border-color: rgba(125, 206, 235, 0.75);
    border-radius: 15px;
    margin: 10px 20px 10px 0;
}

.elementTitle {
    display: inline-block;
}

.downloadBtn {
    float: right;
    color: #357EC7;
    margin: auto 15px auto 0;
}

.downloadBtn:visited {
    color: black;
}
